@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.provide-block__left a, .title-block__content a {
  background-color: #ff2d2d;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 10px 60px;
}
.provide-block__left a:hover, .title-block__content a:hover {
  padding: 6px 56px;
  border: 2px #ff2d2d solid;
  color: #ff2d2d;
  background-color: #fff;
}

.container {
  max-width: 1284px;
  margin: 0 auto;
}

.header {
  padding: 30px 18px 105px 18px;
  background-color: #f6f2f2;
}
.header__wrapper nav menu {
  background-color: #313030;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__wrapper nav menu li {
  padding: 45px 30px 35px;
}
.header__wrapper nav menu li:hover {
  background-color: #ff3f40;
}
.header__wrapper nav menu li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.title-block {
  padding: 0 18px 110px 18px;
  background-color: #f6f2f2;
}
.title-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title-block__content {
  max-width: 42%;
}
.title-block__content h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;
  letter-spacing: 2.5px;
  line-height: 1.15;
  text-transform: uppercase;
}
.title-block__content p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin: 35px 0 60px 0;
}
.title-block__video iframe {
  -webkit-box-shadow: 2px 1px 54px 0px rgb(117, 117, 117);
          box-shadow: 2px 1px 54px 0px rgb(117, 117, 117);
}

.provide-block {
  padding: 110px 18px;
}
.provide-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.provide-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 54%;
  padding-left: 70px;
}
.provide-block__left {
  padding-right: 70px;
  width: 46%;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.provide-block__left h2 {
  padding-bottom: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
}
.provide-block__left p {
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.provide-block__items {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 25px 0;
}
.provide-block__items h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #585858;
  padding: 35px 0 15px 0;
}
.provide-block__items img {
  max-width: 30px;
  max-height: 30px;
}
.provide-block__items p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding: 0 0 50px;
}

.feature-block {
  padding: 110px 18px 30px;
}
.feature-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.feature-block__top {
  max-width: 42%;
  margin: 0 auto;
}
.feature-block__top h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}
.feature-block__top p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.feature-block__top p:after {
  content: "";
  display: block;
  width: 135px;
  padding-top: 30px;
  border-bottom: 3px solid #ff3b3b;
  margin: 0 auto;
}
.feature-block__bottom ul {
  margin: 80px 0 60px 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feature-block__bottom ul li {
  padding: 0 35px;
}
.feature-block__bottom ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}
.feature-block__bottom ul li a:hover {
  color: #ff3b3b;
}
.feature-block__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feature-block__pics div {
  width: calc(25% - 10px);
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(pink));
  background: linear-gradient(blue, pink);
}
.feature-block__pics div:nth-child(n+5) {
  background: -webkit-gradient(linear, left top, left bottom, from(green), to(red));
  background: linear-gradient(green, red);
  margin-top: 15px;
}