@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.contact-block__menu form a, .subscribe-block__wrapper .email-field a, .provide-block__left a, .title-block__content a {
  background-color: #ff2d2d;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 10px 60px;
}
.contact-block__menu form a:hover, .subscribe-block__wrapper .email-field a:hover, .provide-block__left a:hover, .title-block__content a:hover {
  padding: 6px 56px;
  border: 2px #ff2d2d solid;
  color: #ff2d2d;
  background-color: #fff;
}

.contact-block__wrapper p:after, .team-block p:after, .feature-block__top p:after {
  display: block;
  width: 135px;
  padding-top: 30px;
  border-bottom: 3px solid #ff3b3b;
  margin: 0 auto;
}

.contact-block__menu form textarea, .contact-block__menu form input {
  border-radius: 10px;
  background-color: #e5e5e5;
  border: none;
  padding-left: 45px;
}

.container {
  max-width: 1284px;
  margin: 0 auto;
}

.header {
  padding: 30px 18px 105px 18px;
  background-color: #f6f2f2;
}
.header__wrapper nav menu {
  background-color: #313030;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__wrapper nav menu li {
  padding: 45px 30px 35px;
}
.header__wrapper nav menu li:hover {
  background-color: #ff3f40;
}
.header__wrapper nav menu li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.title-block {
  padding: 0 18px 110px 18px;
  background-color: #f6f2f2;
}
.title-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title-block__content {
  max-width: 42%;
}
.title-block__content h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;
  letter-spacing: 2.5px;
  line-height: 1.15;
  text-transform: uppercase;
}
.title-block__content p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin: 35px 0 60px 0;
}
.title-block__video iframe {
  -webkit-box-shadow: 2px 1px 54px 0px rgb(117, 117, 117);
          box-shadow: 2px 1px 54px 0px rgb(117, 117, 117);
}

.provide-block {
  padding: 110px 18px;
}
.provide-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.provide-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 54%;
  padding-left: 70px;
}
.provide-block__left {
  padding-right: 70px;
  width: 46%;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.provide-block__left h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 60px;
}
.provide-block__left p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 50px;
}
.provide-block__items {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 25px 0;
}
.provide-block__items h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #585858;
  padding: 35px 0 15px 0;
}
.provide-block__items img {
  max-width: 30px;
  max-height: 30px;
}
.provide-block__items p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding: 0 0 50px;
}

.feature-block {
  padding: 110px 18px 30px;
}
.feature-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.feature-block__top {
  max-width: 42%;
  margin: 0 auto;
}
.feature-block__top h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}
.feature-block__top p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.feature-block__top p:after {
  content: "";
}
.feature-block__bottom ul {
  margin: 80px 0 60px 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feature-block__bottom ul li {
  padding: 0 35px;
}
.feature-block__bottom ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}
.feature-block__bottom ul li a:hover {
  color: #ff3b3b;
}
.feature-block__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feature-block__pics div {
  width: calc(25% - 10px);
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(lightgray), to(darkgray));
  background: linear-gradient(lightgray, darkgray);
}
.feature-block__pics div:nth-child(n+5) {
  background: -webkit-gradient(linear, left top, left bottom, from(darkgray), to(lightgray));
  background: linear-gradient(darkgray, lightgray);
  margin-top: 15px;
}

.team-block {
  padding: 110px 18px;
}
.team-block h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  padding: 0 0 40px 0;
  text-transform: uppercase;
}
.team-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  max-width: 36%;
}
.team-block p:after {
  content: "";
  margin: 0;
}
.team-block__wrapper {
  margin: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-block__left {
  margin-right: 74px;
}
.team-block__left div {
  width: 320px;
  height: 460px;
  background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#ff2d2d));
  background: linear-gradient(#adadad, #ff2d2d);
}
.team-block__right {
  padding-top: 10px;
}
.team-block__right h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}
.team-block__right p {
  padding: 30px 0 45px;
  max-width: 74%;
}
.team-block__right p:after {
  content: "";
  display: none;
}
.team-block__right ul {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  max-width: 45%;
  margin: 0;
  padding: 0;
  font-style: italic;
}
.team-block__right .pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}
.team-block__right .pics__item {
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2d2d), to(#adadad));
  background: linear-gradient(#ff2d2d, #adadad);
  position: relative;
}
.team-block__right .pics__item div {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #7a786e;
  padding: 5px 0;
  width: 100%;
}
.team-block__right .pics__item:hover div {
  display: block;
}

.subscribe-block {
  background-color: #333333;
  padding: 145px 0;
  text-align: center;
}
.subscribe-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.subscribe-block__wrapper h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #f6f2f2;
}
.subscribe-block__wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f6f2f2;
  padding: 40px 0 55px;
}
.subscribe-block__wrapper .email-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 265px;
}
.subscribe-block__wrapper .email-field input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #939393;
  width: 70%;
  height: 80px;
  padding: 0 0 0 40px;
  border: none;
  border-radius: 5px;
}
.subscribe-block__wrapper .email-field a {
  padding: 26.5px 60px;
}
.subscribe-block__wrapper .email-field a:hover {
  padding: 22.5px 56px;
}

.contact-block {
  padding: 110px 18px;
}
.contact-block__wrapper h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}
.contact-block__wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  width: 58%;
  padding: 55px 0 75px 0;
}
.contact-block__wrapper p:after {
  content: "";
  margin: 0;
  padding-bottom: 40px;
}
.contact-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-block__menu form {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-block__menu form input {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  width: 46%;
  height: 60px;
}
.contact-block__menu form textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  margin: 45px 0;
  width: 100%;
  height: 245px;
  padding-top: 35px;
}
.contact-block__menu form a {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.contact-block__menu div {
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
  width: 35%;
}
.contact-block__menu div h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #d5d5d5;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.contact-block__menu div p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d5d5d5;
  padding: 0;
  margin: 0;
  width: 90%;
}
.contact-block__menu div p:nth-child(3) {
  padding: 30px 0;
}
.contact-block__menu div p:after {
  display: none;
}

.footer {
  background-color: #313030;
  padding: 50px 18px 30px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #afafaf;
}
.footer__wrapper ul {
  list-style: none;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}