@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.contact-block__menu form a, .subscribe-block__wrapper .email-field a, .provide-block__left a, .title-block__content a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #ff2d2d;
  border-radius: 4px;
  text-decoration: none;
  padding: 6px 56px;
  border: 2px #ff2d2d solid;
}
.contact-block__menu form a:hover, .subscribe-block__wrapper .email-field a:hover, .provide-block__left a:hover, .title-block__content a:hover {
  background-color: #fff;
  color: #ff2d2d;
}

.contact-block__wrapper p:after, .team-block__title p:after, .feature-block__top p:after {
  display: block;
  width: 25%;
  padding-top: 30px;
  border-bottom: 3px solid #ff3b3b;
  margin: 0 auto;
}

.contact-block__menu form textarea, .contact-block__menu form input {
  border-radius: 10px;
  background-color: #e5e5e5;
  border: none;
  padding-left: 45px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.header {
  padding: 30px 0 105px 0;
  background-color: #f6f2f2;
}
.header__wrapper nav ul {
  background-color: #313030;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__wrapper nav ul li {
  padding: 45px 30px 35px;
}
.header__wrapper nav ul li:hover {
  background-color: #ff3f40;
}
.header__wrapper nav ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .header {
    padding: 10px 0 60px 0;
  }
  .header__wrapper nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .header__wrapper nav ul li {
    padding: 15px 0;
  }
  .header__wrapper nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.title-block {
  padding: 0 0 110px;
  background-color: #f6f2f2;
}
.title-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title-block__content {
  width: 50%;
}
.title-block__content h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;
  letter-spacing: 2.5px;
  line-height: 1.15;
  text-transform: uppercase;
}
.title-block__content p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin: 35px 0 60px 0;
}
.title-block__video iframe {
  -webkit-box-shadow: 2px 1px 54px 0px rgb(117, 117, 117);
          box-shadow: 2px 1px 54px 0px rgb(117, 117, 117);
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .title-block {
    padding: 0 0 80px;
  }
  .title-block__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-block__content {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .title-block__content p {
    width: 75%;
    margin: 30px auto 50px;
  }
  .title-block__video {
    margin: 0 auto;
    padding: 50px 0 0;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .title-block__content h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #000;
  }
  .title-block__content p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .title-block__video iframe {
    width: 100%;
  }
}
.provide-block {
  padding: 110px 0;
}
.provide-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.provide-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  padding-left: 25px;
}
.provide-block__left {
  padding-right: 70px;
  width: 40%;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.provide-block__left h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 60px;
}
.provide-block__left p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 50px;
}
.provide-block__items {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px 0;
}
.provide-block__items h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #585858;
  padding: 35px 0 15px 0;
}
.provide-block__items img {
  max-width: 30px;
  max-height: 30px;
}
.provide-block__items p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding: 0 0 50px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .provide-block {
    padding: 30px 0;
  }
  .provide-block__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .provide-block__left {
    width: 100%;
    padding: 0 0 50px 0;
  }
  .provide-block__left p {
    width: 75%;
    margin: 0 auto 40px;
  }
  .provide-block__right {
    width: 100%;
    padding: 0;
  }
  .provide-block__items {
    width: 100%;
    padding: 10px 20px 0;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .provide-block__items h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #585858;
    padding: 35px 0 15px 0;
  }
  .provide-block__items img {
    max-width: 30px;
    max-height: 30px;
  }
  .provide-block__items p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .provide-block__left h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    padding-bottom: 40px;
  }
  .provide-block__left p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
  }
  .provide-block__items h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #585858;
    padding-top: 20px;
  }
  .provide-block__items p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.feature-block {
  padding: 110px 0 30px;
}
.feature-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.feature-block__top {
  width: 42%;
  margin: 0 auto;
}
.feature-block__top h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}
.feature-block__top p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.feature-block__top p:after {
  content: "";
}
.feature-block__bottom ul {
  margin: 80px 0 60px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feature-block__bottom ul li {
  padding: 0 35px;
}
.feature-block__bottom ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}
.feature-block__bottom ul li a:hover {
  color: #ff3b3b;
}
.feature-block__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feature-block__pics div {
  width: calc(25% - 10px);
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(lightgray), to(darkgray));
  background: linear-gradient(lightgray, darkgray);
}
.feature-block__pics div:nth-child(n+5) {
  background: -webkit-gradient(linear, left top, left bottom, from(darkgray), to(lightgray));
  background: linear-gradient(darkgray, lightgray);
  margin-top: 15px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .feature-block {
    padding: 0 0 20px;
    text-align: center;
  }
  .feature-block__top {
    width: 100%;
  }
  .feature-block__top p {
    width: 75%;
    margin: 0 auto;
  }
  .feature-block__bottom ul {
    margin: 60px 0 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feature-block__bottom ul li {
    width: 20%;
    text-align: center;
    padding: 0;
  }
  .feature-block__pics div {
    width: calc(50% - 10px);
    margin-top: 15px;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(lightgray), to(darkgray));
    background: linear-gradient(lightgray, darkgray);
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .feature-block__top {
    width: 100%;
  }
  .feature-block__top h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    margin: 0 0 25px 0;
  }
  .feature-block__top p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
  .feature-block__bottom ul {
    margin: 40px 0 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feature-block__bottom ul li {
    width: 20%;
    text-align: center;
  }
  .feature-block__bottom ul li:first-child {
    width: 15%;
  }
  .feature-block__bottom ul li:last-child {
    width: 15%;
  }
  .feature-block__bottom ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
  }
  .feature-block__pics div {
    width: calc(100% - 10px);
    height: 100px;
    margin-top: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(lightgray), to(darkgray));
    background: linear-gradient(lightgray, darkgray);
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.team-block {
  padding: 110px 0;
}
.team-block__title h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  padding: 0 0 40px 0;
  text-transform: uppercase;
}
.team-block__title p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  width: 36%;
}
.team-block__title p:after {
  content: "";
  margin: 0;
}
.team-block__wrapper {
  margin: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-block__left {
  margin-right: 74px;
  width: 25%;
}
.team-block__left div {
  width: 100%;
  height: 460px;
  background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#ff2d2d));
  background: linear-gradient(#adadad, #ff2d2d);
}
.team-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-block__right h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}
.team-block__right p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  padding: 30px 0 45px;
  max-width: 75%;
}
.team-block__right ul {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  max-width: 45%;
  margin: 0;
  padding: 0;
  font-style: italic;
}
.team-block__right .pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 55px;
}
.team-block__right .pics__item {
  width: 20%;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2d2d), to(#adadad));
  background: linear-gradient(#ff2d2d, #adadad);
  position: relative;
}
.team-block__right .pics__item div {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #7a786e;
  padding: 5px 0;
  width: 100%;
}
.team-block__right .pics__item:hover div {
  display: block;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .team-block {
    padding: 40px 0 60px;
    text-align: center;
  }
  .team-block__title p {
    width: 75%;
    margin: 0 auto;
  }
  .team-block__title p:after {
    margin: 0 auto;
  }
  .team-block__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team-block__left {
    margin: 0 auto;
    width: 100%;
  }
  .team-block__left div {
    width: 30%;
    height: 200px;
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#ff2d2d));
    background: linear-gradient(#adadad, #ff2d2d);
    margin-bottom: 50px;
  }
  .team-block__right {
    margin: 0 auto;
  }
  .team-block__right p {
    max-width: 75%;
    margin: 0 auto;
  }
  .team-block__right ul {
    max-width: 100%;
    margin: 0 50px;
  }
  .team-block__right .pics {
    margin-top: 30px;
  }
  .team-block__right .pics__item {
    width: calc(50% - 20px);
    margin-top: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2d2d), to(#adadad));
    background: linear-gradient(#ff2d2d, #adadad);
    position: relative;
  }
  .team-block__right .pics__item div {
    padding: 5px 0;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }

  .title-block__right .pics {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title-block__right .pics__item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .team-block__title {
    text-align: center;
  }
  .team-block__title h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    padding: 0 0 40px 0;
    text-transform: uppercase;
  }
  .team-block__title p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
  .team-block__right h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
  }
  .team-block__right p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
  .team-block__right ul {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
  .team-block__right .pics {
    margin-top: 55px;
  }
  .team-block__right .pics__item {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.subscribe-block {
  background-color: #333333;
  padding: 145px 0;
  text-align: center;
}
.subscribe-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.subscribe-block__wrapper h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #f6f2f2;
}
.subscribe-block__wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f6f2f2;
  padding: 40px 0 55px;
}
.subscribe-block__wrapper .email-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
}
.subscribe-block__wrapper .email-field input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #939393;
  width: 70%;
  height: 80px;
  padding: 0 0 0 40px;
  border: none;
  border-radius: 5px;
}
.subscribe-block__wrapper .email-field a {
  padding: 24.5px 56px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .subscribe-block {
    padding: 90px 0;
  }
  .subscribe-block__wrapper h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #f6f2f2;
  }
  .subscribe-block__wrapper p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #f6f2f2;
    padding: 40px 0 55px;
  }
  .subscribe-block__wrapper .email-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  .subscribe-block__wrapper .email-field input {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #939393;
    width: 100%;
    height: 80px;
    padding: 0 0 0 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .subscribe-block__wrapper .email-field a {
    padding: 18px 50px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .subscribe-block__wrapper h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #f6f2f2;
  }
  .subscribe-block__wrapper p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #f6f2f2;
    padding: 30px 0 40px;
  }
  .subscribe-block__wrapper .email-field input {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #939393;
    height: 60px;
  }
  .subscribe-block__wrapper .email-field a {
    padding: 14.5px 56px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.contact-block {
  padding: 110px 0;
}
.contact-block__wrapper h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}
.contact-block__wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  width: 58%;
  padding: 55px 0 75px 0;
}
.contact-block__wrapper p:after {
  content: "";
  margin: 0;
  padding-bottom: 40px;
}
.contact-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-block__menu form {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-block__menu form input {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  width: 46%;
  height: 60px;
}
.contact-block__menu form textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  margin: 45px 0;
  width: 100%;
  height: 245px;
  padding-top: 35px;
}
.contact-block__menu form a {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.contact-block__menu div {
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
  width: 35%;
}
.contact-block__menu div h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #d5d5d5;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.contact-block__menu div p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d5d5d5;
  padding: 0;
  margin: 0;
  width: 90%;
}
.contact-block__menu div p:nth-child(3) {
  padding: 30px 0;
}
.contact-block__menu div p:after {
  display: none;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .contact-block {
    padding: 60px 0;
  }
  .contact-block__wrapper {
    text-align: center;
  }
  .contact-block__wrapper p {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .contact-block__wrapper p:after {
    margin: 0 auto;
    padding-bottom: 0;
  }
  .contact-block__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-block__menu form {
    width: 100%;
  }
  .contact-block__menu form input {
    width: 45%;
    height: 60px;
    padding: 15px 0 15px 20px;
  }
  .contact-block__menu form textarea {
    margin: 45px 0;
    width: 100%;
    height: 245px;
    padding: 20px 0 0 20px;
  }
  .contact-block__menu form a {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
  }
  .contact-block__menu div {
    width: 100%;
    padding: 30px 0;
    margin-top: 45px;
    text-align: center;
  }
  .contact-block__menu div p {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .contact-block__wrapper h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
  }
  .contact-block__wrapper p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
  .contact-block__menu form input {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
  }
  .contact-block__menu form textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
  .contact-block__menu div h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #d5d5d5;
  }
  .contact-block__menu div p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #d5d5d5;
  }
  .contact-block__menu div p:nth-child(3) {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.footer {
  background-color: #313030;
  padding: 50px 0 30px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #afafaf;
}
.footer__wrapper ul {
  list-style: none;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .footer {
    padding: 35px 0 20px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__wrapper p {
    width: 75%;
    margin: 0 auto;
    padding: 0 0 20px;
  }
  .footer__wrapper ul {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }

  .footer__wrapper p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #afafaf;
  }
  .footer__wrapper ul {
    width: 75%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}