.provide-block{
    padding: 110px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__right{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    &__left{
        width: 45%;
        hyphens: auto;
        display: flex;
        flex-direction: column;
        h2{
            @include font(42pt, 700, #000000);
            padding-bottom: 60px;
        }
        p{
            @include font(16pt, 400, #000000);
            margin-bottom: 50px;
        }
        a{
            @extend %button;
        }
    }
    &__items{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px 20px 0;
        h3{
            @include font(24pt, 600, #000000);
            padding: 35px 0 15px 0;
        }
        img{
            max-width: 30px;
            max-height: 30px;
        }
        p{
            @include font(16pt, 400, #000000);
            hyphens: auto;
            padding: 0 0 50px;
        }
    }
}
