.provide-block{
    padding: 110px 18px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__right{
        display: flex;
        flex-wrap: wrap;
        width: 54%;
        padding-left: 70px;
    }
    &__left{
        padding-right: 70px;
        width: 46%;
        hyphens: auto;
        h2{
            @include font(42px, 700, #333333);
            padding-bottom: 60px;
        }
        p{
            @include font(16px, 400, #000);
            margin-bottom: 50px;
        }
        a{
            @extend %button;
        }
    }
    &__items{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px 25px 0;
        h3{
            @include font(24px, 600, #585858);
            padding: 35px 0 15px 0;
        }
        img{
            max-width: 30px;
            max-height: 30px;
        }
        p{
            @include font(16px, 400, #333333);
            hyphens: auto;
            padding: 0 0 50px;
        }
    }
}
