*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

body{
  background: rgb(232, 232, 232);
  padding: 20px 0px 0px 20px;
  font-family: Arial;
}

.paragraph{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0px 0px 30px 0px;
}

li{
  padding: 0px 0px 5px 35px;
  background: url(img/check.png) 0 no-repeat;
  color: rgb(39, 61, 70);
  font-size: 22px;
}

li:nth-child(1){
  text-decoration: line-through;
}
li:nth-child(1):hover{
  text-decoration: none;
}

li:nth-child(2){
  font-weight: 600;
}
li:nth-child(2):hover{
  font-weight: 400;
  color: red;
}

li:nth-child(3){
  font-style: italic;
}
li:nth-child(3):hover{
  font-style: normal;
}

li:nth-child(4){
  text-transform: uppercase;
}
li:nth-child(4):hover{
  text-transform: none;
}

.button{
  margin: 100px 0px 0px 30px;
  width: 220px;
  text-transform: uppercase;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(128, 183, 179);
  color: white;
  text-align: center;
  letter-spacing: 3px;
  border: none;
  box-shadow: 0px 0px 2px blue;
}

.button:hover{
  background: rgb(58, 88, 86);
}

.button:active{
  background: rgb(129, 129, 129);
  box-shadow: 0px 0px 0px;
}
