.title-block{
    padding: 0 0 110px;
    background-color: #f6f2f2;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            @include font(60pt, 800, #000000);
            letter-spacing: 2.5px;
            line-height: 1.15;
            text-transform: uppercase;
        }
        p{
            @include font(16pt, 400, #000000);
            hyphens: auto;
            margin: 35px 0 60px 0;
        }
        a{
            @extend %button;
        }
    }
    &__video{
        width: 40%;
        iframe{
            box-shadow: 2px 1px 54px 0px rgba(117,117,117,1);
            width: 100%;
        }
    }
}
