.subscribe-block{
    background-color: #333333;
    padding: 145px 0;
    text-align: center;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2{
            @include font(42pt, 700, #f6f2f2);
        }
        p{
            @include font(16pt, 400, #f6f2f2);
            padding: 40px 0 55px;
        }
        .email-field{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 80%;
            input{
                @include font(16pt, 400, #2c2c2c);
                width: 75%;
                height: 80px;
                padding: 0 0 0 40px;
                border: none;
                border-radius: 5px;
            }
            a{
                @extend %button;
                text-transform: uppercase;
                padding: 20px 0;
                width: 20%;
            }
        }
    }
}
