.footer{
    background-color: #313030;
    padding: 50px 0 30px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            @include font(16px, 400, #b8b8b8);
        }
        nav{
            width: 20%;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;
            }
        }
    }
}
