@media (max-width: 1250px ) {
    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
}
@media (max-width: 1024px) {
    .container{
        max-width: 767px;
    }
    .team-block{
        padding: 40px 0 60px;
        text-align: center;
        &__title{
            p{
                width: 75%;
                margin: 0 auto;
                &:after{
                    margin: 0 auto;
                }
            }
        }
        &__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__left{
            width: 100%;
            margin: 0 auto 40px;
            img{
                width: 40%;
            }
        }
        &__right{
            margin: 0 auto;
            p{
                max-width: 75%;
                margin: 0 auto;
            }
            nav{
                ul{
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .pics{
                margin-top: 30px;
                &__item{
                    position: relative;
                    width: calc(50% - 10px);
                    margin: 10px 0;
                    div{
                        padding: 5px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px ) {
    .container{
        max-width: 567px;
    }
    .team-block{
        &__title{
            text-align: center;
            h2{
                @include font(28px, 700, #000000);
                padding: 0 0 40px 0;
                text-transform: uppercase;
            }
            p{
                @include font(16px, 400, #000000);
            }
        }
        &__right{
            width: 100%;
            h3{
                @include font(22px, 600, #000000);
            }
            p{
                @include font(16px, 400, #000000);
            }
            nav{
                ul{
                    width: 75%;
                    @include font(16px, 400, #000000);
                }
            }
            .pics{
                margin-top: 55px;
                justify-content: space-around;
                &__item{
                    width: calc(50% - 10px);
                    margin: 5px 0;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .team-block{
        &__title{
            h3{
                @include font(20px, 600, #000000);
            }
            p{
                @include font(12px, 400, #000000);
            }
        }
        &__right{
            .pics{
                width: 100%;
                &__item{
                    div{
                        @include font(12px, 600, #ffffff);
                    }
                }
            }
            nav{
                ul{
                    @include font(12px, 400, #000000);
                }
            }
            p{
                @include font(12px, 400, #000000);
            }
        }
    }
}
