@media (max-width: 1250px ) {
    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
}
@media (max-width: 1024px) {
    .container{
        max-width: 767px;
    }
    .contact-block{
        padding: 60px 0;
        &__wrapper{
            text-align: center;
            p{
                width: 75%;
                margin: 0 auto;
                padding-bottom: 50px;
                &:after{
                    margin: 0 auto;
                    padding-bottom: 0;
                }
            }
        }
        &__menu{
            flex-direction: column;
            form{
                width: 100%;
                input{
                    padding: 15px 0 15px 20px;
                }
                textarea{
                    padding: 20px 0 0 20px;
                }
                a{
                    margin: 0 auto;
                }
            }
            div{
                width: 100%;
                padding: 30px 0;
                margin-top: 45px;
                text-align: center;
                p{
                    width: 75%;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 767px ) {
    .container{
        max-width: 567px;
    }
    .contact-block{
        &__wrapper{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 16px;
            }
        }
        &__menu{
            form{
                input{
                    font-size: 18px;
                }
                textarea{
                    font-size: 16px;
                }
            }
            div{
                h4{
                    font-size: 18px;
                }
                p{
                    font-size: 16px;                    &:nth-child(3){
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .contact-block{
        &__wrapper{
            h2{
                font-size: 24px;
            }
            p{
                font-size: 12px;
            }
        }
        &__menu{
            form{
                input{
                    font-size: 14px;
                }
                textarea{
                    font-size: 12px;
                }
            }
            div{
                h4{
                    font-size: 14px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
